{% extends 'users/dashboard.html' %}

{% block content %}

<div class='container'>
	<h1 class='text-center' style="color:white;">PasswordChange</h1>
	<div class='jumbotron col-md' style="margin-top: 50px">
		<form action="" method="POST" >
			{% csrf_token %}
			<label>CurrentPasword</label>
			<input type="Password" name="currpass" placeholder="Enter the CurrentPasword" class="form-control">
			<label>NewPassword</label>
			<input type="Password" name="newpass" placeholder="Enter the NewPassword" class="form-control">
			<label>Re-enterNewPassword</label>
			<input type="Password" name="renewpass" placeholder="Re enter the NewPassword" class="form-control">
			</div>
			<button class="btn btn btn-primary">Password Change<i aria-hidden="true"></i>
		</form>
	</div>
</div>

{% endblock %}